<div class="container mt-5">
  <div class="row justify-content-center">
    <form action="/restaurants/add" method="post" id="form-add">
      <label for="disabledTextInput" class="form-label">餐廳名稱</label>
      <input class="form-control add-input" type="text" name="name" placeholder="輸入餐廳名稱" required="required"
        >
      <label for="disabledTextInput" class="form-label">餐廳英文名稱（非必填）</label>
      <input class="form-control" type="text" name="name_en" placeholder="輸入英文名稱（非必填）" >
      <label for="disabledTextInput" class="form-label">餐廳類型</label>
      <input class="form-control" type="text" name="category" placeholder="輸入餐廳類型" required="required"
       >
      <label for="disabledTextInput" class="form-label">餐廳或餐點圖片（非必填）</label>
      <input class="form-control" type="text" name="image" placeholder="餐廳圖片網址（非必填）" >
      <label for="disabledTextInput" class="form-label">餐廳地址</label>
      <input class="form-control" type="text" name="location" placeholder="輸入餐廳地址" required="required"
        >
      <label for="disabledTextInput" class="form-label">餐廳電話</label>
      <input class="form-control" type="text" name="phone" placeholder="輸入餐廳電話" required="required" >
      <label for="disabledTextInput" class="form-label">Google地圖網址（非必填）</label>
      <input class="form-control" type="text" name="google_map" placeholder="Google地圖網址（非必填）" >
      <label for="disabledTextInput" class="form-label">餐廳評分</label>
      <input class="form-control" type="number" min="0" max="5" step="0.1" name="rating" placeholder="輸入餐廳評分"
        required="required" >
      <label for="disabledTextInput" class="form-label">餐廳相關描述</label>
      <input class="form-control mb-3" type="text" name="description" placeholder="輸入餐廳相關描述" required="required"
        >
      <div class="row">
        <button class="btn btn-warning mb-5" type="submit">編輯完畢</button>
      </div>
    </form>
  </div>

</div>