<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="Image for Card">
  <div class="card-body">
    <h5 class="card-title">懶人包預設 Card</h5>
    <p class="card-text">這是懶人包的 index.hbs。點選下列按鈕前往 Bootstrap Cards 官方文件
    </p>
    <a href="https://getbootstrap.com/docs/5.2/components/card/#about" class="btn btn-primary">Bootstrap Cards</a>
  </div>
</div>

<div class="for-dummies">
  <p>這是懶人包套用</p>
  <p>自訂靜態 CSS 的範例</p>
</div>