body {
  background-color: azure;
}

.for-dummies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(204, 232, 207);
  width: 500px;
  height: 500px;
  font-size: 32px;
  text-align: center;
}

.add-input {
  display: block
}

.card-columns {
  width: 18rem;
}

.a-normal {
  width: 18rem;
}

#form-add {
  max-width: 1080px;
}